<!doctype html>
<html lang="en" ng-app="gnvjs">
  <head>
    <title>GainesvilleJS</title>
  </head>

  <body>
    <h1>GainesvilleJS</h1>

    <div class="container" ng-view></div>

    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular-route/angular-route.min.js"></script>
    <script src="/public/app.js"></script>
    <script src="/public/controllers/homeController.js"></script>
    <script src="/public/controllers/toolsController.js"></script>
  </body>
</html>
